.container{
    display: grid;
    max-width: 100%;
    position: relative;
    margin: auto;
    grid-template-areas:"logo menuButtons"
                        "header header"
                        "section1-a section1-b"
                        "section2-a section2-b"
                        "section3-a section3-b"
                        "section4 section4"
                        "section5 section5"
                        "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 700px 600px 600px 700px 700px 550px 300px;
}
body, p{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

.logo{
    grid-area: logo;
    background-color:#3dbeff;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

h1{
    font-family: 'Fraunces', serif;
    font-weight: 1000;
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
}

h2{
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    font-weight: 900;
}

h4{
    font-family: 'Fraunces', serif;
}



.textColor1{
    margin-top: 300px;
}

.titleColorGreen{
    color: hsl(167, 40%, 24%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}

.colorText1{
    color: hsl(167, 40%, 24%);
}

.textColor{
    margin-top: 300px;
}

.titleColorBlue{
    color:hsl(198, 62%, 26%) ;
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    
}
.colorText2{
    color: hsl(198, 62%, 26%);
}

.titleClient{
    color: hsl(232, 10%, 55%);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    margin-bottom: 80px;
    letter-spacing: 3pt;
    /* font-weight: 700; */
    
}



p{
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 1000;
    color: hsl(213, 9%, 39%);
    font-weight: 50;
}

.logo img{
    margin-left: 10px;
}

.menu-buttons{
    /* margin-left: 1440px; */
    grid-area: menuButtons;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:  #3dbeff;
    
    
}

.btn1{
    margin: 0px 30px;
    
}

.btnStyle{
    color: white;
    /* border: 2px solid red; */
    font-family: 'Fraunces', serif;
    background: transparent;
    border-radius: 70px;
    margin: 0px 15px;
    font-size: 1rem;
    padding: 10px 15px;
    border: transparent;
    cursor: pointer;
}



.btnStyle:hover{
    background-color:  hsl(198, 62%, 26%);
    
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    flex-direction: column;
    background: url('./images/desktop/image-header.jpg') no-repeat center center;
    background-size: cover;
   

}



.section1-a{
    grid-area: section1-a;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}

.info.info2{
    margin: 0px 50px;
}


.section1-b{
    grid-area: section1-b;
    background: url('./images/desktop/image-transform.jpg') no-repeat center center;
    background-size: cover;
}

.section2-a{
    grid-area: section2-a;
    background: url('./images/desktop/image-stand-out.jpg') no-repeat center center;
    background-size: cover;
}

.section2-b{
    grid-area: section2-b;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    
}

/* .info2{
    
    margin: 0px 50px;
} */

.section3-a{
    grid-area: section3-a;
    background: url('./images/desktop/image-graphic-design.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.section3-b{
    grid-area: section3-b;
    background: url('./images/desktop/image-photography.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.section4{
    grid-area: section4; 
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.contact{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.contac1,.contac2,.contac3{
    justify-content: space-between;
    margin: 0px 90px;

}

 div .avatar{
    /* background-repeat: no-repeat; */
    /* background-position: 50%; */
    border-radius: 80%;
    /* background-size: 100% auto; */
}


.section5 {
   display: flex;
   grid-area: section5;
 
  
}

#im1,#im2,#im3,#im4{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px ;
}




footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color:#92d3c5;
}

.about-footer button{
    margin: 0px 20px;
    color: hsl(167, 40%, 24%);
    font-family: 'Barlow', sans-serif;
    background: transparent;
    border: transparent;
    font-size:16px;
    cursor: pointer;
}
.about-footer button:hover{
    color: white;
}


.titleF{
    color: hsl(167, 40%, 24%);
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    
}

.about-footer{
    /* border: 5px solid #000; */
    /* margin-top: 50px; */
    width: 500px;
    justify-content: space-around;
    
}

.redes{
    /* border: 4px solid red;  */
   
   
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}

.btnRed1{
    background: transparent;
    border: none;
    background-image: url('./images/icon-facebook.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btnRed1:hover{
    background: white;
}

.btnRed2{
    background: transparent;
    border: none;
    background-image: url('./images/icon-instagram.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btnRed3{
    background: transparent;
    border: none;
    background-image: url('./images/icon-twitter.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btnRed4{
    background: transparent;
    border: none;
    background-image: url('./images/icon-pinterest.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}











